.leftBar {
    &__menu {
        ul {
            list-style: none;

            .other-nav-heading {
                font-size: 1rem;
                padding: 0.5rem;
                margin-top: 0.5rem;
            }

            li {
                a {
                    text-decoration: none;
                    color: inherit;
                    display: flex;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.3s;
                    color: var(--main-9);

                    i {
                        font-size: 1.2rem;
                        margin-right: 0.5rem;
                        margin-left: -0.5rem;
                    }

                    &:hover {
                        text-decoration: underline;
                        color: var(--main-theme);
                        background-color: rgba($color: #8d95f2, $alpha: 0.2);
                    }
                }
            }
        }
    }

    &__sosmed {
        display: flex;
        padding: 1rem 0;
        margin-top: 1rem;
        a {
            font-size: 1.5rem;
            color: var(--main-6);
            margin: 0 0.5rem;

            &:hover {
                color: var(--main-9);
            }
        }
    }

    &__taglist {
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;
            padding-right: 0;

            h3 {
                font-size: 1rem;
            }
            i {
                padding: 0.5rem;
                margin-right: 1rem;
                color: var(--main-6);
                font-size: 1.5rem;
                cursor: pointer;
                border-radius: 5px;

                &:hover {
                    color: var(--main-9);
                    background-color: var(--main-a);
                }
            }
        }

        ul {
            height: 40vh;
            overflow-y: auto;
            margin-right: 0.75rem;
            line-height: 1.6;

            li {
                padding: 0.5rem;
                cursor: pointer;
                border-radius: 5px;

                &:hover {
                    background-color: var(--main-a);
                    color: var(--main-theme-darker);
                }
            }
        }
    }
}

.hamburger {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: rgba($color: black, $alpha: 0.5);

    &__content {
        max-width: 300px;
        background-color: var(--header-bg);
        z-index: 999;
        height: 100%;
        overflow-y: auto;

        header {
            display: flex;
            align-items: center;
            padding: 1rem;
            border-bottom: 1px solid var(--main-2);

            h2 {
                font-size: 1.15rem;
                flex: 1;
            }

            button {
                border-radius: 50%;
                font-size: 1.5rem;
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: var(--main-a);
                    color: var(--main-theme-darker);
                }
            }
        }
    }
}
