@media only screen and (max-width: 1024px) {
    .main-container {
        grid-template-columns: 2fr 5fr;
        padding: 1rem;
      }

    .rightBar {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .main-container {
        grid-template-columns: 100%;
        padding: 1rem;
    }
    
    .header {
        .headerContainer {
            &__hamburgerMenu {
                display: block;
            }

            &__searchBox {
                display: none;
            }

            &__right {
                .hidden-search {
                    display: inline;
                }
                button {
                    display: none;
                }
            }
        }
    }

    .leftBar {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .main-content {
        header {
          nav {
            display: none;
          }
          select {
            display: block;
          }
        }
      }
      .hidden-mobile {
        display: none;
      }
      .show-mobile {
        display: inline-block;
      }

    .header {
        .dropdown-menu {
            right: 0;
            left: 0;
            margin: 0.2rem 0.5rem 0;
        }
    }
}
