.rightBar {
    display: flex;
    flex-direction: column;
  
    &__card-hackathon {
      background-color: var(--main-0);
      padding: 1rem;
      border-radius: 5px;

      a {
          text-decoration: none;
          color: var(--main-theme);
      }
  
      img {
        width: 100%;
        max-height: 100px;
        object-position: center;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1rem;
      }
    }
  }